.mat-button-toggle-checked {
    background-color: #6fc113;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid #2E7D32;
}
.mat-button-toggle {
    color: rgb(46, 125, 51);
    border-bottom: 2px solid #2e7d33;
    /* margin-right: 5px; */
}
.mat-button-toggle-group, .mat-button-toggle-standalone {

    box-shadow: none;
} 
