<!--
  Generated template for the VisoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Visor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h5>Selecciona la parcela</h5>



<p>Selecciona una fecha para mostrar la capa NDVI de la parcela</p>
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form (ngSubmit)="visor.localizarParcela(sigpacid)">
        <mat-form-field class="full-width">
          <input name="consulta" [(ngModel)]="sigpacid" matInput placeholder="Buscar parcela por Id SIGPAC (PROV,MUN,ZONA,AGREGADO,POL,PARC) o buscar por municipio">
        </mat-form-field>
      </form>
      </div>
    </div>
    </div>
    </div>




    <app-visorteledeteccion #visor
     [recintos]="verrecintos"
     [configuracion] = "teleconfig"
    centermap="-1.878099,38.9921979"></app-visorteledeteccion>


    </div>
</ion-content>
